/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}
header .container {
  height: 100px;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .home {
  max-width: 140px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .home .weblogo {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #6294A2;
}
header .container .home .webname {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}
header .container .home .webname::first-letter {
  font-weight: bolder;
}
header .container .navbar {
  max-width: 350px;
  width: 100%;
}
header .container .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .navbar ul li {
  font-family: "Roboto", sans-serif;
}
header .container .navbar ul li input[type=text] {
  width: 70px;
  border: none;
  outline: none;
}
header .container .navbar ul li:last-child {
  padding: 2px;
  border: 1px solid grey;
}
header .container .navbar ul li a {
  font-size: 16px;
  color: #404040;
  font-family: "Roboto", sans-serif;
}
header .container .navbar ul li .bold {
  font-weight: bold;
}
header .container .navbar ul li .fa-magnifying-glass {
  cursor: pointer;
}

article {
  margin-top: 150px;
}
article .articlecontainer {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  background-image: url("../images/home/homeartimg.jpg");
  height: 270px;
  background-color: blue;
  position: relative;
}
article .articlecontainer .articlecontent {
  position: absolute;
  left: 50px;
  top: 50px;
  padding: 50px;
}
article .articlecontainer .articlecontent > h2, article .articlecontainer .articlecontent > p, article .articlecontainer .articlecontent > button > a {
  font-family: "Roboto", sans-serif;
  color: white;
}
article .articlecontainer .articlecontent > h2 {
  font-size: 32px;
  margin-bottom: 16px;
}
article .articlecontainer .articlecontent > p {
  font-size: 15px;
  max-width: 1000px;
  width: 100%;
  margin-bottom: 16px;
  line-height: 20px;
}
article .articlecontainer .articlecontent > button {
  width: 160px;
  height: 50px;
  border-radius: 15%/50%;
  background-color: #6294A2;
}
article .articlecontainer .articlecontent > button > a {
  font-size: 18px;
}
article .articlecontainer .articlecontent > button:hover {
  width: 180px;
  height: 60px;
}/*# sourceMappingURL=global.css.map */