@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 1;
  -webkit-box-shadow: 0 4px 2px -2px gray;
          box-shadow: 0 4px 2px -2px gray;
}
header .container {
  height: 100px;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
header .container .home {
  max-width: 140px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
header .container .home .weblogo {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #6294A2;
}
header .container .home .webname {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}
header .container .home .webname::first-letter {
  font-weight: bolder;
}
header .container .navbar {
  max-width: 350px;
  width: 100%;
}
header .container .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
header .container .navbar ul li {
  font-family: "Roboto", sans-serif;
}
header .container .navbar ul li input[type=text] {
  width: 70px;
  border: none;
  outline: none;
}
header .container .navbar ul li:last-child {
  padding: 2px;
  border: 1px solid grey;
}
header .container .navbar ul li a {
  font-size: 16px;
  color: #404040;
  font-family: "Roboto", sans-serif;
}
header .container .navbar ul li .bold {
  font-weight: bold;
}
header .container .navbar ul li .fa-magnifying-glass {
  cursor: pointer;
}

article {
  margin-top: 150px;
}
article .articlecontainer {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  background-image: url("../images/home/homeartimg.jpg");
  height: 270px;
  background-color: blue;
  position: relative;
}
article .articlecontainer .articlecontent {
  position: absolute;
  left: 50px;
  top: 50px;
  padding: 50px;
}
article .articlecontainer .articlecontent > h2, article .articlecontainer .articlecontent > p, article .articlecontainer .articlecontent > button > a {
  font-family: "Roboto", sans-serif;
  color: white;
}
article .articlecontainer .articlecontent > h2 {
  font-size: 32px;
  margin-bottom: 16px;
}
article .articlecontainer .articlecontent > p {
  font-size: 15px;
  max-width: 1000px;
  width: 100%;
  margin-bottom: 16px;
  line-height: 20px;
}
article .articlecontainer .articlecontent > button {
  width: 160px;
  height: 50px;
  border-radius: 15%/50%;
  background-color: #6294A2;
}
article .articlecontainer .articlecontent > button > a {
  font-size: 18px;
}
article .articlecontainer .articlecontent > button:hover {
  width: 180px;
  height: 60px;
}

.s-1 .sect-1 {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.s-1 .sect-1 .left-block {
  max-width: 890px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0;
}
.s-1 .sect-1 .left-block .blockhead {
  max-width: 700px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.s-1 .sect-1 .left-block .blockhead .blockln {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 300px;
  width: 100%;
}
.s-1 .sect-1 .left-block .blockhead .blockln .blocklogo {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #6294A2;
}
.s-1 .sect-1 .left-block .blockhead .blockln .blockname {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}
.s-1 .sect-1 .left-block .blockhead .fllink {
  color: fllink;
  font-size: 15px;
}
.s-1 .sect-1 .left-block .blockhead .fllink::after {
  content: "›";
  padding-left: 13px;
}
.s-1 .sect-1 .left-block .blockbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.s-1 .sect-1 .left-block .blockbody .traveloption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.s-1 .sect-1 .left-block .blockbody .traveloption .content {
  max-width: 500px;
  width: 100%;
  height: 100%;
}
.s-1 .sect-1 .left-block .blockbody .traveloption .content > h3, .s-1 .sect-1 .left-block .blockbody .traveloption .content > h2, .s-1 .sect-1 .left-block .blockbody .traveloption .content > p {
  font-family: "Roboto", sans-serif;
  color: #404040;
}
.s-1 .sect-1 .left-block .blockbody .traveloption .content > h3, .s-1 .sect-1 .left-block .blockbody .traveloption .content > h2 {
  margin-bottom: 8px;
}
.s-1 .sect-1 .left-block .blockbody .traveloption .content > h3 {
  font-size: 13px;
}
.s-1 .sect-1 .left-block .blockbody .traveloption .content > h2 {
  font-size: 20px;
}
.s-1 .sect-1 .left-block .blockbody .traveloption .content > p {
  font-size: 15px;
}
.s-1 .sect-1 .right-block {
  padding: 40px 0;
}
.s-1 .sect-1 .right-block .right-top {
  background-image: url("../images/home/sect1/right.jpg");
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  position: relative;
  margin-bottom: 50px;
}
.s-1 .sect-1 .right-block .right-top > h3 {
  font-family: "Roboto", sans-serif;
  color: white;
  position: absolute;
  left: 20%;
  top: 25%;
  font-size: 15px;
}
.s-1 .sect-1 .right-block .right-top > h2 {
  font-family: "Roboto", sans-serif;
  color: white;
  position: absolute;
  left: 20%;
  top: 50%;
  font-size: 27px;
}
.s-1 .sect-1 .right-block .right-top > p {
  font-family: "Roboto", sans-serif;
  color: white;
  position: absolute;
  left: 20%;
  top: 65%;
  font-size: 15px;
}
.s-1 .sect-1 .right-block .right-bottom {
  height: 250px;
  border: 4px solid skyblue;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 20px 0;
}
.s-1 .sect-1 .right-block .right-bottom > h2, .s-1 .sect-1 .right-block .right-bottom > p {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}
.s-1 .sect-1 .right-block .right-bottom > h2 {
  font-size: 26px;
}
.s-1 .sect-1 .right-block .right-bottom > p {
  font-size: 15px;
}
.s-1 .sect-1 .right-block .right-bottom > form input {
  display: block;
  margin: 10px auto;
}
.s-1 .sect-1 .right-block .right-bottom > form input[type=submit] {
  background-color: #6294A2;
  max-width: 180px;
  width: 100%;
  padding: 10px 50px;
  border-radius: 10%/50%;
  color: white;
}
.s-1 .sect-1 .right-block .right-bottom > form input[type=email] {
  padding: 9px 14px;
}

.s-2 {
  margin-bottom: 20px;
}
.s-2 .sect-2 {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.s-2 .sect-2 .left-block {
  max-width: 300px;
  width: 100%;
  padding: 30px 40px;
  border: 2px solid grey;
}
.s-2 .sect-2 .left-block > h2 {
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  color: #404040;
  margin-bottom: 30px;
}
.s-2 .sect-2 .left-block .toursinfo {
  width: 90%;
}
.s-2 .sect-2 .left-block .toursinfo .tour {
  margin-bottom: 24px;
}
.s-2 .sect-2 .left-block .toursinfo .tour > h3, .s-2 .sect-2 .left-block .toursinfo .tour > h2, .s-2 .sect-2 .left-block .toursinfo .tour > p {
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}
.s-2 .sect-2 .left-block .toursinfo .tour > h3 {
  font-size: 13px;
}
.s-2 .sect-2 .left-block .toursinfo .tour > h2 {
  font-size: 20px;
}
.s-2 .sect-2 .left-block .toursinfo .tour > p {
  font-size: 15px;
}
.s-2 .sect-2 .right-block {
  max-width: 800px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.s-2 .sect-2 .right-block .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.s-2 .sect-2 .right-block .bg-img {
  background-image: url("../images/home/sect2/main.jpg");
  height: 470px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  position: relative;
  background-color: cyan;
}
.s-2 .sect-2 .right-block .bg-img > h2 {
  position: absolute;
  top: 80%;
  left: 20%;
  color: white;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
}

.hp-footer {
  padding: 40px 0px 40px 200px;
  background-color: rgba(255, 230, 0, 0.86);
}
.hp-footer .footer-container {
  max-width: 1170px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.hp-footer .footer-container .footerbox {
  max-width: 350px;
  width: 100%;
}
.hp-footer .footer-container .footerbox:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.hp-footer .footer-container .footerbox > div > h2, .hp-footer .footer-container .footerbox > div > h3, .hp-footer .footer-container .footerbox > div > h4, .hp-footer .footer-container .footerbox > div > h5, .hp-footer .footer-container .footerbox > div > p {
  font-family: "Roboto", sans-serif;
}
.hp-footer .footer-container .footerbox > div > h4 {
  margin-bottom: 10px;
}

.curoniansect {
  margin: 150px 0 50px 0;
}
.curoniansect .container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.curoniansect .container .header {
  background-image: url("../images/home/homeartimg.jpg");
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 80px;
}
.curoniansect .container .header > h2 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  color: white;
  margin-bottom: 10px;
}
.curoniansect .container .header > h5 {
  font-family: "Roboto", sans-serif;
  font-size: 8px;
  color: white;
}
.curoniansect .container .content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 80px;
}
.curoniansect .container .content > p, .curoniansect .container .content > h3 {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}
.curoniansect .container .content > h3 {
  font-size: 32px;
}
.curoniansect .container .content > p {
  font-size: 16px;
}
.curoniansect .container .content .currentstate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.curoniansect .container .content .currentstate > p {
  max-width: 660px;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
.curoniansect .container .content .currentstate > div {
  font-family: "Alkatra", cursive;
  text-align: center;
}
.curoniansect .container .author {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.curoniansect .container .author .authorinfo {
  max-width: 600px;
  width: 100%;
}
.curoniansect .container .author .authorinfo h2 {
  color: #404040;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
}
.curoniansect .container .author .authorinfo h3 {
  font-size: 15px;
  color: #404040;
}
.curoniansect .container .author .authorinfo p {
  font-size: 14px;
  color: #404040;
}

.survey .surveycont {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  background-image: url("../images/curonianspit/surveybg.jpg");
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.survey .surveycont .surveytext {
  position: absolute;
  font-family: "Roboto", sans-serif;
  left: 40px;
  top: 50px;
}
.survey .surveycont .surveytext h2 {
  font-size: 32px;
  margin-bottom: 15px;
  color: #F0F0F0;
}
.survey .surveycont .surveytext p {
  color: #FCFCFC;
  font-size: 16px;
}
.survey .surveycont .surveybtns {
  position: absolute;
  left: 40px;
  top: 150px;
}
.survey .surveycont .surveybtns .send {
  width: 150px;
  height: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#3B79E0), to(#58C3DD));
  background-image: linear-gradient(to right, #3B79E0, #58C3DD);
  color: #F0F0F0;
  font-size: 17px;
  border-radius: 20%/50%;
}
.survey .surveycont .surveybtns .read {
  width: 200px;
  height: 50px;
  background-color: #010002;
  color: #F0F0F0;
  font-size: 17px;
  border-radius: 15%/50%;
}/*# sourceMappingURL=global.css.map */