@mixin flexparams($flex: flex, $justify: space-between, $align: center, $row: row){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $row;
}
@mixin bgimgparams(){
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}