header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 1;
    box-shadow: 0 4px 2px -2px gray;
    .container{
        height: 100px;
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        @include flexparams();
        .home{
            max-width: 140px;
            width: 100%;
            @include flexparams();
            .weblogo{
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #6294A2;
            }
            .webname{
                font-family: $roboto;
                font-size: 22px;
                &::first-letter{
                    font-weight: bolder;
                }
            }
            
        }
        .navbar{
            max-width: 350px;
            width: 100%;
            ul{
                @include flexparams();
                li{
                    font-family: $roboto;
                    input[type=text]{
                        width: 70px;
                        border: none;
                        outline: none;
                    }
                    &:last-child{
                        padding: 2px;
                        border: 1px solid grey;
                    }
                    a{
                        font-size: 16px;
                        color: #404040;
                        font-family: $roboto;
                    }
                    .bold{
                        font-weight: bold;
                    }
                    .fa-magnifying-glass{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
article{
    margin-top: 150px;
    .articlecontainer{
        max-width: 1170px;
        width: 100%;
        margin: $cont-center;
        background-image: $curonianspit;
        height: 270px;
        background-color: blue;
        position: relative;
        .articlecontent{
           position: absolute;
           left: 50px;
           top: 50px;
           padding: 50px;
           & > h2, &>p, &>button>a{
            font-family: $roboto;
            color: white;
           }
           &>h2{
            font-size: 32px;
            margin-bottom: 16px;
           }
           &>p{
            font-size: 15px;
            max-width: 1000px;
            width: 100%;
            margin-bottom: 16px;
            line-height: 20px;
           }
           &>button{
            width: 160px;
            height: 50px;
            border-radius: 15%/50%;
            background-color: #6294A2;
            &>a{
                font-size: 18px;
            }
            &:hover{
                width: 180px;
                height: 60px;
            }
           }
        }
    }
}
.s-1{
    .sect-1{
        max-width: 1170px;
        width: 100%;
        margin: $cont-center;
        @include flexparams(flex, space-between, top, row);
        .left-block{
            max-width: 890px;
            width: 100%;
            @include flexparams(flex, space-between, center, column);
            padding: 40px 0;
            .blockhead{
                max-width: 700px;
                width: 100%;
                @include flexparams();
                .blockln{
                    @include flexparams();
                    max-width: 300px;
                    width: 100%;
                    .blocklogo{
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: #6294A2;
                    }
                    .blockname{
                        font-family: $roboto;
                        font-size: 25px;
                    }
                }
                .fllink{
                    color: fllink;
                    font-size: 15px;
                    &::after{
                        content: '\203A';
                        padding-left: 13px;
                    }
                }
            }
            .blockbody{
                @include flexparams(flex, space-between, center, column);
                .traveloption{
                    @include flexparams();
                    .content{
                        max-width: 500px;
                        width: 100%;
                        height: 100%;
                        &>h3, &>h2, &>p{
                            font-family: $roboto;
                            color: #404040;
                        }
                        &>h3, &>h2{
                            margin-bottom: 8px;
                        }
                        &>h3{
                            font-size: 13px;
                        }
                        &>h2{
                            font-size: 20px;
                        }
                        &>p{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        .right-block{
            padding: 40px 0;
            .right-top{
                background-image: $sect1rightimg;
                height: 250px;
                @include bgimgparams();
                position: relative;
                margin-bottom: 50px;
                &>h3{
                    font-family: $roboto;
                    color: white;
                    position: absolute;
                    left: 20%;
                    top: 25%;
                    font-size: 15px;
                }
                &>h2{
                    font-family: $roboto;
                    color: white;
                    position: absolute;
                    left: 20%;
                    top: 50%;
                    font-size: 27px;
                }
                &>p{
                    font-family: $roboto;
                    color: white;
                    position: absolute;
                    left: 20%;
                    top: 65%;
                    font-size: 15px;
                }
            }
            .right-bottom{
                height: 250px;
                border: 4px solid skyblue;
                max-width: 400px;
                width: 100%;
                margin: 0 auto;
                border-radius: 5px;
                padding: 20px 0;
                &>h2, &>p{
                    font-family: $roboto;
                    font-weight: bold;
                    margin-bottom: 25px;
                    text-align: center;
                }
                &>h2{
                    font-size: 26px;
                }
                &>p{
                    font-size: 15px;
                
                }
                &>form{
                    input{
                        display: block;
                        margin: 10px auto;
                    }
                    input[type="submit"]{
                        background-color: #6294A2;
                        max-width: 180px;
                        width: 100%;
                        padding: 10px 50px;
                        border-radius: 10%/50%;
                        color: white;
                    }
                    input[type="email"]{
                        padding: 9px 14px;
                    }
                }
            }
        }
    }
}
.s-2{
    margin-bottom: 20px;
    .sect-2{
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        @include flexparams(flex, space-between, top, row);
        .left-block{
            max-width: 300px;
            width: 100%;
            padding: 30px 40px;
            border: 2px solid grey;
            &>h2{
                font-size: 26px;
                font-family: $roboto;
                color: #404040;
                margin-bottom: 30px;
            }
            .toursinfo{
                width: 90%;
                .tour{
                    margin-bottom: 24px;
                    &>h3,&>h2,&>p{
                        font-family: $roboto;
                        margin-bottom: 10px;
                    }
                    &>h3{
                        font-size: 13px;
                    }
                    &>h2{
                        font-size: 20px;
                    }
                    &>p{
                        font-size: 15px;
                    }
                }
            }
            
        }
        .right-block{
            max-width: 800px;
            width: 100%;
            @include flexparams();
            .img-container{
                @include flexparams(flex, space-between, center, column);
            }
            .bg-img{
                background-image: $sect2mainimg;
                height: 470px;
                width: 100%;
                @include bgimgparams;
                position: relative;
                background-color: cyan;
                &>h2{
                    position: absolute;
                    top: 80%;
                    left: 20%;
                    color: white;
                    font-size: 32px;
                    font-family: $roboto;
                }
            }
        }
    }
}
.hp-footer{
    padding: 40px 0px 40px 200px;
    background-color:rgba(255, 230, 0, 0.86);
    .footer-container{
        max-width: 1170px;
        width: 100%;
        @include flexparams();
        .footerbox{
            max-width: 350px;
            width: 100%;
            &:nth-child(2){
                @include flexparams(flex, space-around, center, row);
            }
            &>div{
                &>h2, &>h3, &>h4, &>h5, &>p{
                    font-family: $roboto;
                }
                &>h4{
                    margin-bottom: 10px;
                }
            }
        }
        
    }
}
.curoniansect{
    margin: 150px 0 50px 0;
    .container{
        max-width: 1170px;
        width: 100%;
        margin: $cont-center;
        .header{
            background-image: $curonianspit;
            height: 250px;
            @include bgimgparams();
            @include flexparams(flex, center, center, column);
            margin-bottom: 80px;
            &>h2{
                font-family: $roboto;
                font-size: 40px;
                color: white;
                margin-bottom: 10px;
            }
            &>h5{
                font-family: $roboto;
                font-size: 8px;
                color: white;
            }
        }
        .content{
            max-width: 1000px;
            width: 100%;
            margin: $cont-center;
            margin-bottom: 80px;
            &>p, &>h3{
                margin-bottom: 20px;
                font-family: $roboto;
            }
            &>h3{
                font-size: 32px;
            }
            &>p{
                font-size: 16px;
            }
            .currentstate{
                @include flexparams;
                &>p{
                    max-width: 660px;
                    width: 100%;
                    font-family: $roboto;
                }
                &>div{
                    font-family: $curoniandunes;
                    text-align: center;
                }
            }
        }
        .author{
            max-width: 1000px;
            width: 100%;
            margin: $cont-center;
            @include flexparams();
            .authorinfo{
                max-width: 600px;
                width: 100%;
                h2{
                    color: #404040;
                    font-size: 20px;
                    font-family: $roboto;
                    margin-bottom: 5px;
                }
                h3{
                    font-size: 15px;
                    color: #404040;
                }
                p{
                    font-size: 14px;
                    color: #404040;
                }
            }
        }
    }
}
.survey{
    margin-bottom: 60px;
    .surveycont{
        max-width: 1170px;
        width: 100%;
        margin: $cont-center;
        background-image: $surveybg;
        height: 250px;
        @include bgimgparams();
        .surveytext{
            position: absolute;
            font-family: $roboto;
            left: 40px;
            top: 50px;
            h2{
                font-size: 32px;
                margin-bottom: 15px;
                color: #F0F0F0;
            }
            p{
                color: #FCFCFC;
                font-size: 16px;
            }
        }
        .surveybtns{
            position: absolute;
            left: 40px;
            top: 150px;
            .send{
                width: 150px;
                height: 50px;
                background-image: linear-gradient(to right, #3B79E0 , #58C3DD);
                color: #F0F0F0;
                font-size: 17px;
                border-radius: 20%/50%;
            }
            .read{
                width: 200px;
                height: 50px;
                background-color: #010002;
                color: #F0F0F0;
                font-size: 17px;
                border-radius: 15%/50%;
            }
        }
    }
}
.topics{
    margin-bottom: 60px;
    .simtothis{
        max-width: 1170px;
        width: 100%;
        margin: $cont-center;
        padding-left: 40px;
        padding-top: 28px;
        .header{
            display: flex;
            align-items: center;
            .logo{
                background-image: linear-gradient(to right, #6294A2, #58C3DD);
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
            .text{
                color: #404040;
                font-size: 26px;
                font-family: $roboto;
            }
        }
        .content{
            @include flexparams();
            .topic{
                max-width: 350px;
                width: 100%;
                h3{
                    margin-bottom: 20px;
                    padding-left: 20px;
                    font-family: $roboto;
                    font-size: 18px;
                }
                p{
                    padding-left: 20px;
                    font-family: $roboto;
                    font-size: 15px;
                }
            }
        }
    }
}
.mightlike{
    margin-top: 150px;
    .container{
        max-width: 1170px;
        width: 100%;
        margin: $cont-center;
        @include flexparams(flex, flex-start, top, row);
        .visual{
            background-image: $namibia;
            height: 450px;
            max-width: 770px;
            width: 100%;
            @include bgimgparams();
        }
        .content{
            max-width: 400px;
            width: 100%;
            padding-left: 40px;
            h2{
                font-size: 26px;
                font-family: $roboto;
                color: #404040;
                text-align: center;
                margin-bottom: 35px;
            }
            div{
                margin-bottom: 50px;
                h4{
                    font-size: 13px;
                    font-family: $roboto;
                    margin-bottom: 10px;
                }
                h3{
                    font-size: 20px;
                    font-family: $roboto;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 15px;
                    font-family: $roboto;
                }
            }
        }
    }
}
.guides{
    margin-bottom: 100px;
    .options{
        max-width: 1170px;
        width: 100%;
        margin: $cont-center;
        @include flexparams();
        flex-wrap: wrap;
        .option{
            max-width: 350px;
            width: 100%;
            margin-bottom: 30px;
            .img{
                height: 350px;
                max-width: 350px;
                width: 100%;
                border-radius: 100px/50px;
                @include bgimgparams();
            }
            .img1{
                background-image: $img1;
                
            }
            .img2{
                background-image: $img2;
            }
            .img3{
                background-image: $img3;
            }
            .img4{
                background-image: $img4;
            }
            .img5{
                background-image: $img5;
            }
            .img6{
                background-image: $img6;
            }
            h3{
                font-family: $roboto;
                margin-bottom: 30px;
                text-align: center;
                font-size: 28px;
            }
            p{
                font-family: $roboto;
                padding-left: 30px;
                margin-bottom: 20px;
                font-size: 15px;
            }
            h4{
                font-family: $roboto;
                font-size: 13px;
                padding-left: 30px;
            }
        }
    }
}