$cont-center: 0 auto;
$roboto: 'Roboto', sans-serif;
$homearticleimg: url("../images/home/homeartimg.jpg");
$sect1rightimg: url("../images/home/sect1/right.jpg");
$sect2mainimg: url("../images/home/sect2/main.jpg");