$cont-center: 0 auto;
$roboto: 'Roboto', sans-serif;
$curonianspit: url("../images/home/homeartimg.jpg");
$sect1rightimg: url("../images/home/sect1/right.jpg");
$sect2mainimg: url("../images/home/sect2/main.jpg");
$curoniandunes: 'Alkatra', cursive;
$curonianauthor: url("../images/curonianspit/avatar.png");
$surveybg: url("../images/curonianspit/surveybg.jpg");