$cont-center: 0 auto;
$roboto: 'Roboto', sans-serif;
$curonianspit: url("../images/home/homeartimg.jpg");
$sect1rightimg: url("../images/home/sect1/right.jpg");
$sect2mainimg: url("../images/home/sect2/main.jpg");
$curoniandunes: 'Alkatra', cursive;
$curonianauthor: url("../images/curonianspit/avatar.png");
$surveybg: url("../images/curonianspit/surveybg.jpg");
$namibia: url("../images/discover/namibia.png");
$img1: url("../images/discover/n1.png");
$img2: url("../images/discover/n2.png");
$img3: url("../images/discover/n3.png");
$img4: url("../images/discover/n4.png");
$img5: url("../images/discover/n5.png");
$img6: url("../images/discover/n6.png");